/*

!/common
!/dummy
!/gradle
!/resources
!/style
!/proxy_bc60
!/proxy_bc61

!/.gitignore
!/.travis.yml
!/LICENSE.md
!/LogisticsPipes_dummy.jar
!/README.md
!/build.gradle
!/buildmessages.pylist
!/download-api.xml
!/expect.tcl
!/gradlew
!/gradlew.bat
!/build-ant.xml