lib**
sign/**
build/**
output/**
download/**
**/.classpath
**/.project

### Eclipse ###
*.pydevproject
.project
.classpath
.metadata
.settings
bin
eclipse

#idea
*.iml
*.ipr
*.iws
.idea
out

#gradle
build
.gradle

#runtime
run

#LP
api
sign

#MC
config/**
crash-reports/**
logs/**
mods/**
saves/**
options.txt