/*

!/common
!/dummy
!/gradle
!/resources
!/resources_raw
!/style

!/.gitignore
!/.travis.yml
!/LICENSE.md
!/LogisticsPipes_dummy.jar
!/README.md
!/BUILDING.md
!/build.gradle
!/buildmessages.pylist
!/download-api.xml
!/expect.tcl
!/gradlew
!/gradlew.bat
!/build-ant.xml
!/build-bc61.gradle
!lombok.config
